.modal.hidden {
  display: none;
}

.modal {
  display: none;
  height: 83%;
  width: 15.8rem;
  border-radius: 8px;
  padding: 1.5rem;

  flex-direction: column;
  position: fixed;
  right: 32px;

  background-color: rgba(45, 65, 91, 1);
}

.modal .profile-container {
  width: 100%;
  justify-content: flex-start;
}

.modal .line {
  margin: 1rem;
  border: 0.1px solid rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1025px) {
  .modal {
    display: flex;
  }
}
