.container-code {
  width: 100%;
  height: auto;
  border: 25px solid #6bd1ff;
  border-radius: 8px;
  padding: 0.8rem;
  background: #000000;

  text-align: left;
  flex: 1;
}

.container-code .header-code {
  display: flex;
  gap: 0.4rem;
}

.container-code .header-code .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.container-code .header-code .dot:nth-child(1) {
  background: #ff0000;
}

.container-code .header-code .dot:nth-child(2) {
  background: #ffff00;
}

.container-code .header-code .dot:nth-child(3) {
  background: #00ff00;
}

.container-code .main-code {
  width: 100%;
  padding-top: 1rem;

  font-size: 14px;
}

.container-code .main-code .preview {
  display: block;
  height: 100%;
  border-radius: 7px;
  white-space: pre-wrap;
}

@media screen and (max-width: 1025px) {
  .container-code {
    flex: 0;
  }

  .container-code .main-code {
    height: 300px;
  }
}
