* {
  vertical-align: baseline;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: inherit;
  font-size: 100%;
  list-style: none;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  background: #051d3b;
}

input,
p,
a,
h2,
legend,
button,
textarea,
code,
h3,
h4,
h5 {
  color: #ffffff;
}

button {
  cursor: pointer;
}

option {
  color: #000000;
}

.model-input {
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  width: 100%;
  padding: 0 0.3rem;
}

.model-input::placeholder,
select {
  font-size: 0.9rem;
  font-weight: 200;
  color: #ffffffff;
  opacity: 0.4;
}

.model-input:focus {
  background-color: rgba(255, 255, 255, 0.24);
}

.category {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: 300;
}

@media screen and (max-width: 1025px) {
  main .hidden {
    display: none;
  }
}
