header {
  height: 60px;
  margin: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header .title {
  display: flex;
  justify-content: flex-start;
}

header .title img {
  width: 9rem;
}

.profile-container {
  width: 144px;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.profile-container:hover {
  background: rgba(255, 255, 255, 0.08);
}

.profile-container .profile-img {
  width: 3rem;
  border-radius: 50%;
}

.profile-container button {
  background: #051d3b;
  display: none;
}

.profile-container button img {
  padding: 0.9rem;
  border-radius: 16px;
}

.profile-container button:hover img {
  background: rgba(80, 129, 251, 0.08);
}

.profile-container button:active img {
  background: rgba(80, 129, 251, 0.16);
}

header #searchForm {
  margin: 0 2rem;
  flex: 0.9;
}

@media screen and (max-width: 1025px) {
  header {
    margin: 1rem;
  }

  .profile-container {
    flex: 0;
    margin-right: 1rem;
    gap: 1.2rem;
  }

  .profile-container:hover {
    background: #051d3b;
  }

  .profile-container img {
    height: 100%;
    width: auto;
    border-radius: 0;
  }

  .profile-container button + button {
    display: block;
  }

  .profile-container .hidden {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  header .hidden {
    display: none;
  }

  .profile-container button {
    display: block;
  }

  header .title img {
    width: 8rem;
  }
}
